.App {
  text-align: center;
  width: 100%;
  margin: 0px auto;
  display: block;
  padding: 20px;
}

.overview {
  text-align: center;
  margin: 0px auto;
}

.App > * {
  padding: 10px;
}

h1 {
  margin: 10px;
}

h2 {
  margin: 0px;
}

h3 {
  font-style: italic;
  font-size: 20px;
}

h4 {
}

input {
  width: 80%;
}

p {
  margin: 5px;
}

hr {
  display: none;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  width: 90%;
}

@media (max-width: 768px) {
  h2 {
    font-size: 18px;
  }

  h1 {
    font-size: 25px;
  }
}

@media (max-width: 575px) {
  hr {
    display: block;
  }

  h2 {
    font-size: 12px;
  }

  h1 {
    font-size: 22px;
  }
}
