.App {
	text-align: center;
	width: 100%;
	margin: 0px auto;
	display: block;
}

.overview {
	text-align: center;
	margin: 0px auto;
}

h1 {
	margin: 20px;
}

h3 {
	font-style: italic;
}

input {
	width: 50%;
}

p {
	margin: 5px;
}
