.App {
	text-align: center;
	width: 100%;
	margin: 0px auto;
	display: block;
}

.overview {
	text-align: center;
	margin: 0px auto;
}

h1 {
	margin: 30px;
}

h3 {
	font-style: italic;
	font-size: 20px;
	margin: 10px 30px 10px 30px;
}

input {
	width: 80%;
}

p {
	margin: 5px;
}

hr {
	display: none;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	width: 90%;
}

@media (max-width: 575px) {
	hr {
		display: block;
	}
}
