.nav-bar {
  background: black;
  color: white;
  width: 100%;
  display: flex;
}

.logo {
  width: 20%;
}

.logo-link {
  width: 64px;
}

.title {
  width: 60%;
  margin: auto 0px;
}

.login-link {
  text-decoration: none;
  color: #ffffff;
  text-align: right;
}

.login {
  width: 20%;
}

.login:hover {
  text-decoration: underline;
  color: #ffffff;
}
